# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64/Debug/inifile.obj.enc
/x64/Debug/INIProcessor.exe.recipe
/x64/Debug/INIProcessor.ilk
/x64/Debug/INIProcessor.log
/x64/Debug/INIProcessor.pdb
/x64/Debug/INIProcessor.tlog/CL.command.1.tlog
/x64/Debug/INIProcessor.tlog/Cl.items.tlog
/x64/Debug/INIProcessor.tlog/CL.read.1.tlog
/x64/Debug/INIProcessor.tlog/CL.write.1.tlog
/x64/Debug/INIProcessor.tlog/INIProcessor.lastbuildstate
/x64/Debug/INIProcessor.tlog/link.command.1.tlog
/x64/Debug/INIProcessor.tlog/link.read.1.tlog
/x64/Debug/INIProcessor.tlog/link.write.1.tlog
/x64/Debug/INIProcessor.vcxproj.FileListAbsolute.txt
/x64/Debug/Test.ini
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
/Debug/INIProcessor.exe.recipe
/Debug/INIProcessor.ilk
/Debug/INIProcessor.pdb
/Debug/INIProcessor.tlog/CL.command.1.tlog
/Debug/INIProcessor.tlog/Cl.items.tlog
/Debug/INIProcessor.tlog/CL.read.1.tlog
/Debug/INIProcessor.tlog/CL.write.1.tlog
/Debug/INIProcessor.tlog/INIProcessor.lastbuildstate
/Debug/INIProcessor.tlog/link.command.1.tlog
/Debug/INIProcessor.tlog/link.read.1.tlog
/Debug/INIProcessor.tlog/link.write.1.tlog
/Debug/INIProcessor.vcxproj.FileListAbsolute.txt
/Debug/Test2.ini
/Debug/vc143.idb
/Debug/vc143.pdb
/Test2.ini
/Project/x64/Debug/INIProcessor.exe.recipe
/Project/x64/Debug/INIProcessor.ilk
/Project/x64/Debug/INIProcessor.log
/Project/x64/Debug/INIProcessor.pdb
/Project/x64/Debug/INIProcessor.tlog/CL.command.1.tlog
/Project/x64/Debug/INIProcessor.tlog/Cl.items.tlog
/Project/x64/Debug/INIProcessor.tlog/CL.read.1.tlog
/Project/x64/Debug/INIProcessor.tlog/CL.write.1.tlog
/Project/x64/Debug/INIProcessor.tlog/INIProcessor.lastbuildstate
/Project/x64/Debug/INIProcessor.tlog/link.command.1.tlog
/Project/x64/Debug/INIProcessor.tlog/link.read.1.tlog
/Project/x64/Debug/INIProcessor.tlog/link.write.1.tlog
/Project/x64/Debug/INIProcessor.vcxproj.FileListAbsolute.txt
/Project/x64/Debug/vc143.idb
/Project/x64/Debug/vc143.pdb
/Project/Test2.ini
/Project/.vs/INIProcessor/FileContentIndex/4489b72a-da46-42f2-ae80-a34489634880.vsidx
/Project/.vs/INIProcessor/FileContentIndex/read.lock
/Project/.vs/INIProcessor/v17/.suo
/Project/.vs/INIProcessor/v17/Browse.VC.db
/Project/.vs/INIProcessor/v17/Browse.VC.db-shm
/Project/.vs/INIProcessor/v17/Browse.VC.db-wal
/Project/.vs/INIProcessor/v17/Browse.VC.opendb
/Project/.vs/INIProcessor/v17/ipch/AutoPCH/5860c4f17a5e2e58/MAIN.ipch
/Project/x64/Debug/INIProcessor.idb
/Project/x64/Debug/INIProcessor.lib.recipe
/Project/x64/Debug/INIProcessor.tlog/Lib-link.read.1.tlog
/Project/x64/Debug/INIProcessor.tlog/Lib-link.write.1.tlog
/Project/x64/Debug/INIProcessor.tlog/Lib.command.1.tlog
*.vsidx
*.recipe
*.log
*.pdb
*.tlog
/Project/x64/Release/INIProcessor.vcxproj.FileListAbsolute.txt
/TestEnv/main.cpp
/TestEnv/Test.ini
/TestEnv/TestEnv.vcxproj
/TestEnv/TestEnv.vcxproj.filters
/TestEnv/TestEnv.vcxproj.user
/TestEnv/x64/Debug/TestEnv.ilk
/TestEnv/x64/Debug/vc143.idb
/Project/.vs/INIProcessor/v17/.wsuo
/Project/.vs/INIProcessor/v17/ipch/AutoPCH/53a0936b4ffaf0bb/MAIN.ipch
/Project/.vs/INIProcessor/v17/ipch/AutoPCH/bec7bf89a18a2e2d/MAIN.ipch
/Project/.vs/INIProcessor/v17/Solution.VC.db
/Project/.vs/INIProcessor/v17/Solution.VC.db-shm
/Project/.vs/INIProcessor/v17/Solution.VC.db-wal
*.ipch
