# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/x64/Debug/inifile.obj.enc
/x64/Debug/INIProcessor.exe.recipe
/x64/Debug/INIProcessor.ilk
/x64/Debug/INIProcessor.log
/x64/Debug/INIProcessor.pdb
/x64/Debug/INIProcessor.tlog/CL.command.1.tlog
/x64/Debug/INIProcessor.tlog/Cl.items.tlog
/x64/Debug/INIProcessor.tlog/CL.read.1.tlog
/x64/Debug/INIProcessor.tlog/CL.write.1.tlog
/x64/Debug/INIProcessor.tlog/INIProcessor.lastbuildstate
/x64/Debug/INIProcessor.tlog/link.command.1.tlog
/x64/Debug/INIProcessor.tlog/link.read.1.tlog
/x64/Debug/INIProcessor.tlog/link.write.1.tlog
/x64/Debug/INIProcessor.vcxproj.FileListAbsolute.txt
/x64/Debug/Test.ini
/x64/Debug/vc143.idb
/x64/Debug/vc143.pdb
